@font-face {
 font-family: robotoFonts;
 src: url(D-DIN.otf) format('opentype');
}

@font-face {
 font-family: robotoFontsbold;
 /*src: url(Roboto-Regular.ttf);*/
 src: url(D-DIN.otf) format('opentype');
}

.wjc-box-data {
 font-family: robotoFonts;
 position: relative;
}

.wjc-box-loader {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 z-index: 999;
 background: rgba(255, 255, 255, 1);
}

.wjc-loader {
 position: relative;
 margin: 0 auto;
 width: 40px;
}

.wjc-loader:before {
 content: '';
 display: block;
 padding-top: 100%;
}

.circular {
 animation: rotate 2s linear infinite;
 height: 100%;
 transform-origin: center center;
 width: 100%;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: auto;
}

.path {
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
 animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
 stroke-linecap: round;
}

@keyframes rotate {
 100% {
  transform: rotate(360deg);
 }
}

@keyframes dash {
 0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
 }
 50% {
  stroke-dasharray: 89, 200;
  stroke-dashoffset: -35px;
 }
 100% {
  stroke-dasharray: 89, 200;
  stroke-dashoffset: -124px;
 }
}

@keyframes color {
 0%,
 100% {
  stroke: #d62d20;
 }
 40% {
  stroke: #3F51B5;
 }
 66% {
  stroke: #4CAF50;
 }
 80%,
 90% {
  stroke: #FF9800;
 }
}

/* ANIMATION */

@-webkit-keyframes shake {
 from,
 to {
  transform: translate3d(0, 0, 0);
 }
 10%,
 30%,
 50%,
 70%,
 90% {
  transform: translate3d(-10px, 0, 0);
 }
 20%,
 40%,
 60%,
 80% {
  transform: translate3d(10px, 0, 0);
 }
}

.inf-shake {
 -webkit-animation-name: shake;
 -webkit-animation-duration: 1.25s;
 -webkit-transform-origin: 50% 50%;
 -webkit-animation-iteration-count: infinite;
 /* -webkit-animation-timing-function: linear; */
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu {
 display: block;
 left: inherit;
 right: -255px;
 top: 0;
}

.navbar .navbar-nav li>a .menu-icon::before {
 transition: none;
}

.open aside.left-panel .navbar .navbar-nav li a .menu-icon::before {
 transition: none;
 font-size: 24px;
}

aside.left-panel {
 padding: 0;
}

.navbar .navbar-nav li>a {
 font-family: robotoFontsbold;
 padding: 8px 16px;
}

.navbar .navbar-nav li.menu-item-has-children a:before {
 right: 24px;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu {
 padding: 0 0 0 56px;
}

.sub-menu.children.dropdown-menu {
 width: 100%;
}

.font-bold {
 font-weight: bold;
}

.font-italic {
 font-style: italic;
}

.font-normal {
 font-family: robotoFonts;
 font-weight: normal;
}

.menu-icon {
 margin-top: 0 !important;
}

.middle-center {
 display: -webkit-flex !important;
 display: flex !important;
 -webkit-justify-content: center !important;
 justify-content: center !important;
 -webkit-align-items: center !important;
 align-items: center !important;
}

.middle-left {
 display: -webkit-flex !important;
 display: flex !important;
 -webkit-justify-content: left !important;
 justify-content: left !important;
 -webkit-align-items: center !important;
 align-items: center !important;
}

.margin-top-1 {
 margin-top: 16px;
}

.margin-bottom-1 {
 margin-bottom: 16px;
}

.margin-top-0 {
 margin-top: 0;
}

.margin-bottom-0 {
 margin-bottom: 0;
}

.body-content {
 position: relative;
 top: 69px;
}

.content {
 padding: 18px 16px;
}

.dataTables_wrapper {
 padding-left: 0;
 padding-right: 0;
}

.box-card-title {
 height: 100%;
}

.card {
 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, .12), 0 2px 1px -1px rgba(0, 0, 0, .12);
 border: 0;
 margin-bottom: 0;
}

.card-header {
 padding: 0 16px;
 border-bottom: 1px solid #ebebeb;
}

li {
 font-family: robotoFonts;
}

.card-title {
 font-family: robotoFonts;
 margin-bottom: 13px;
 margin-top: 13px;
}

.box-header-btn {
 padding: 8px 0;
}

table {
 font-size: 14px;
}

table.table>thead>tr>th,
table.table>tbody>tr>td {
 padding: 8px 12px;
}

table.table-logo>thead>tr>th {
 vertical-align: top
}

.display-none {
 display: none;
}

.box-toggle {
 min-width: 100px;
 background: #686ce6;
 position: fixed;
 bottom: 20%;
 right: 0;
 border-top-left-radius: 25px;
 border-bottom-left-radius: 25px;
 padding: 6px 14px;
 color: white;
 transition: all 250ms;
}

.box-toggle:hover,
.box-request:focus {
 transition: all 250ms;
 background: #5054e2;
 color: white;
}

.box-message {
 position: fixed;
 bottom: 20%;
 right: 12px;
 background: white;
 opacity: 1;
 transition: all 250ms ease;
 -webkit-transition: width 250ms ease, height 250ms ease;
 /* For Safari 3.1 to 6.0 */
 transition: width 250ms ease, height 250ms ease;
 /* overflow: hidden; */
 width: 349px;
 height: 265px;
}

.box-message-head {
 padding: 6px 12px;
 background: #686ce6;
 color: white;
 font-size: 18px;
}

.box-message-body {
 border: 1px solid #ddd;
 padding: 12px;
 position: relative;
}

.box-message-foot {
 border: 1px solid #ddd;
 padding: 12px;
 position: relative;
 background: #ddd;
}

.arrow {
 position: absolute;
 right: -12px;
 color: #ddd;
 bottom: 12px;
}

.slide-hide {
 width: 0;
 height: 0;
 display: none !important;
}

.toggle-close {
 color: white;
}

.toggle-close:hover {
 color: #ddd;
}

.toggle-close:focus {
 color: #ddd;
}

.user-area .user-menu {
 background: #ebebeb;
}

.mdi-right::before {
 margin-right: 8px;
}

/* Autocomplete Modify */

#input-item-searchautocomplete-list,
#input-supplier-searchautocomplete-list,
#autocomplete-list {
 top: 55px;
 max-height: 150px;
 width: 487px;
 overflow: auto;
 text-align: left;
 border-bottom: 1px solid #ccc;
}

#input-supplier-searchautocomplete-list {
 width: 355px;
 max-height: 320px;
}

#autocomplete-list {
 width: 240px;
}

.login-content {
 max-width: 400px;
 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, .12), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.login-head,
.login-body,
.login-foot {
 padding: 16px 24px;
 background: white;
}

.login-head {
 padding-top: 16px;
 padding-bottom: 16px;
 background: #28a745;
 color: white;
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
 font-family: robotoFonts;
}

.login-foot {
 border-top: 1px solid #ddd;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
}

.login-title {
 font-size: 32px;
 /* font-weight: bold; */
}

/* .box-content {
    display: flex;
} */

.btn {
 padding: 6px 16px;
 border-radius: 3px;
 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, .12), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.form-inside-icon {
 position: relative;
}

.form-icon {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
}

.icon-pos-left>.form-icon {
 left: 8px;
}

.icon-pos-left>input {
 padding-left: 40px;
}

.icon-pos-right>.form-icon {
 right: 8px;
}

.icon-pos-right>input {
 padding-right: 40px;
}

.left-panel {
 height: 100% !important;
 display: block !important;
 position: fixed;
 left: 0;
 padding: 0;
 height: 100%;
 overflow: auto;
}

.open .left-panel {
 overflow: initial;
}

.right-panel {
 z-index: 2;
 display: block !important;
 position: absolute;
 right: 0;
 z-index: 0;
 left: 20%;
 transition: none;
}

.header {
 position: fixed;
 z-index: 2;
 width: 100% !important;
 left: 0;
 padding: 0 !important;
 /*box-shadow: 0 1px 3px 0 #888888, 0 1px 1px 0 #888888, 0 2px 1px -1px #888888 !important;*/
}

.header-logo {
 width: 20%;
 float: left;
 background: #28a745;
 padding: 16px 24px;
 color: white;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
 color: white;
}

.navbar {
 margin-bottom: 0;
}

.navbar-header {
 margin-bottom: 8px;
 position: relative;
}

.header-menu {
 width: 80%;
 float: right;
 padding: 13px 16px 14px 24px;
}

.ws-nowrap {
 white-space: nowrap;
}

.menutoggle {
 background: rgba(244,240,170,0.8);
 border-radius: 50%;
 color: #888888 !important;
 cursor: pointer;
 font-size: 18px;
 text-align: center;
 line-height: 44px;
 margin: 0 20px 0 -60px;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu {
 background: #c8c9ce;
 padding-top: 8px;
 padding-bottom: 8px;
}

aside.left-panel {
 width: 20%;
 transition: none;
}

body.open .navbar .navbar-brand.hidden {
 display: block;
 font-family: robotoFonts;
}

.open aside.left-panel {
 max-width: 5%;
 width: 5%;
 z-index: 3;
 /* transition: width 0.3s ease; */
}

.open aside.left-panel .navbar .navbar-brand {
 display: none;
}

.open aside.left-panel .navbar .navbar-brand.hidden {
 display: flex !important;
 justify-content: center;
 align-items: center;
 padding-left: 0;
 padding-right: 0;
 text-align: center;
 font-family: robotoFonts;
}

.open aside.left-panel .navbar .navbar-brand.hidden img {
 max-width: 30px;
 margin: 0 auto;
}

.open aside.left-panel .navbar .navbar-brand.d-md-none {
 display: block !important;
 margin: 13px 0 0;
 min-height: 67px;
 padding: 0;
 text-align: center;
}

.open aside.left-panel .navbar .navbar-nav:before {
 display: none !important;
}

.open aside.left-panel .navbar .navbar-nav li {
 position: relative;
}

.open aside.left-panel .navbar .navbar-nav li a {
 font-size: 0;
 z-index: 0;
 transition: none;
}

.open aside.left-panel .navbar .navbar-nav li a .menu-icon {
 font-size: 20px;
 z-index: -1;
 width: inherit;
 text-align: center;
}

.open aside.left-panel .navbar .navbar-nav li a .menu-icon-fa {
 font-size: 20px;
 z-index: -1;
 width: inherit;
 text-align: center;
}

.open aside.left-panel .navbar .navbar-nav li a .menu-title-text {
 font-size: 0;
}

.open aside.left-panel .navbar .navbar-nav li a .badge {
 display: none;
}

.open aside.left-panel .navbar .navbar-nav li>a {
 max-width: 60px;
 padding-left: 0;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children {
 overflow: hidden;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children a:before {
 content: '';
 display: none;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children ul {
 padding-left: 0;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu {
 display: block;
 left: inherit;
 right: -280px;
 top: 0;
}

.open .header-logo {
 width: 0;
 float: none;
 display: none;
}

.open .header-menu {
 width: 95%;
}

.open #openToggle {
 position: absolute;
 right: -42px;
 top: 50%;
 transform: translateY(-50%);
 transition: none;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show .dropdown-report {
 top: -235px;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a {
 text-align: left;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a {
 display: block;
 font-size: 14px;
 max-width: inherit;
 padding: 2px 15px 2px 25px;
 width: 100%;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a .menu-icon {
 text-align: center;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show {
 overflow: visible;
 background-color: #555555;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
 position: absolute !important;
 width: 280px;
}

.open aside.left-panel .navbar .navbar-nav li span.count {
 display: none;
 margin-right: 5px;
 z-index: 1;
}

.open aside.left-panel .navbar .navbar-nav li.active a:after {
 content: '';
 display: none;        
}

.open aside.left-panel .navbar .navbar-nav .menu-title {
 font-size: 0;
 line-height: 0;
 opacity: 0;
 padding: 0;
}

.open aside.left-panel .navbar .navbar-nav li>a {
 padding: 8px 0;
 max-width: 100%;
 text-align: center;
}

.open .navbar .navbar-nav li>a .menu-icon {
 float: none;
}

.open .right-panel {
 margin-left: 0;
 left: 5%;
}

.open .header {
 left: 0;
 width: 100% !important;
 /* transition: width 0.3s ease; */
}

/* Table */

.wjc-box-table {
 width: 100%;
 max-height: 500px;
 min-height: 500px;
 overflow: auto;
 position: relative;
}

/* table.wjc-table {
    font-size: 12px;
}
table.wjc-table > thead > tr > th {
    background: #3396ff;
    color: white;
    font-weight: 700;
} */

.hidden {
 display: none;
}

.lb-stamp {
 padding: 2px 8px;
 color: white;
 border-radius: 3px;
}

.lb-success {
 background: #28a745;
}

.lb-danger {
 background: #dc3545;
}


.ui-datepicker-month{
 color:#333;
}
.ui-datepicker-year{
 color:#333;
}

.bg-content{
 background-color: #f1f5f8;
}

.btn-proses-baru{
 background-color: rgba(244,240,170,0.8);
 color: #555555;
 box-shadow: none;
 border-radius: 0px;
 font-family: robotoFonts;
}

.form-control{
 border-radius: 0px;
}

aside.left-panel{
 background-color: #c8c9ce;
}

.navbar{
 background-color: #c8c9ce;
}

.card-header{
 /*background-color: rgba(167,233,221,0.8);*/
 background-color: #28a745;
 /*color: #555555;*/
 color: #ffffff; 
}

.card{
 border-radius: 12px 12px !important;
 margin-top:16px !important;
}

.card-title{
 font-weight: normal;
}

.navbar-brand{
 border:none !important;
 color:#ffffff !important;
}

label{
 font-family: robotoFonts;
}

body{
 font-size: 15px;
 font-family: robotoFonts;
}

.hide{
 display: none;
}

.changeBgLeftContent{
 background-color: #ddd;
}

.card-title{
 margin-left: 8px;
}

thead{
 background-color: rgba(244,240,170,0.8);
 color: #555555; 
}

td{
 color: #555555;
}

.page-item.active .page-link{
 background-color: #69cdea !important;
 border-color: #69cdea;
}

.page-link{
 color: #555555;
}

.btn-succes-baru{
 background-color: rgba(167,233,221,0.8);
 color: #555555;
 box-shadow: none;
 border-radius: 0px;
 font-family: robotoFonts;
}

.btn-danger-baru{
 background-color: #dc3545;
 color: #ffffff;
 box-shadow: none;
 border-radius: 0px;
 font-family: robotoFonts;
}

.btn-warning-baru{
 background-color: #ffc107;
 color: #ffffff;
 box-shadow: none;
 border-radius: 0px;
 font-family: robotoFonts; 
}

.btn-info-baru{
 background-color: #17a2b8;
 color: #ffffff;
 box-shadow: none;
 border-radius: 0px;
 font-family: robotoFonts; 
}

.btn-baru{
 background-color: rgba(0, 0, 0, 0.14);
 color: #555555;
 box-shadow: none;
 border-radius: 0px;
 font-family: robotoFonts; 
}

.font12{
 font-size: 12px;
}

.fa{
 color:#555555;
}

.table-striped tbody tr:nth-of-type(2n+1){
 background-color: #f1f5f8;
}

.mdi-plus:hover{
 cursor:pointer;
}

.mdi-minus:hover{
 cursor:pointer;
}

.ui-datepicker-header{
 background-color: rgba(167,233,221,0.8) !important;
 border-color:  rgba(167,233,221,0.8) !important;
}

.ui-datepicker-month{
 font-family: robotoFonts !important;
}

.ui-datepicker-year{
 font-family: robotoFonts !important;
}

.dropdown-menu{
 background-color: #dee2e6 !important;
}


@media(width:324px){
 .navbar-brand {
  color:#333333 !important;  
 }

 #logo{
  /*opacity: 0;*/
  margin-right: 12px;  
 }

 aside.left-panel{
  /*display: none !important;*/
  display: block;
  height: auto;
  min-height: inherit;
  padding: 0 15px;
 }

 .header-logo{

 }


 .collapse:not(.show){
  display: block;
 }

 .navbar .navbar-nav li.menu-item-has-children .sub-menu{
  margin-left: -80px;
 }
}

.back_border{
 background: rgba(0, 0, 0, 0.14);
}

.kredit{
 background: #faaaaa !important;
 color:#cb2525 !important;
}

.hover:hover{
 cursor:pointer;
}


.images {
 display: flex;
 flex-wrap:  wrap;
 margin-top: 20px;
}

.images .img,
.images .pic {
 flex-basis: 31%;
 margin-bottom: 10px;
 border-radius: 4px;
}

.images .img {
 width: 112px;
 height: 250px;
 background-size: cover;
 margin-right: 10px;
 background-position: center;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 position: relative;
 overflow: hidden;
}

.images .img:nth-child(3n) {
 margin-right: 0;
}

.images .img span {
 display: none;
 text-transform: capitalize;
 z-index: 2;
}

.images .img::after {
 content: '';
 width: 100%;
 height: 100%;
 transition: opacity .1s ease-in;
 border-radius: 4px;
 opacity: 0;
 position: absolute;
}

.images .img:hover::after {
 display: block;
 background-color: #000;
 opacity: .5;
}

.images .img:hover span {
 display: block;
 color: #fff;
}

.images .pic {
 background-color: #F5F7FA;
 align-self: center;
 text-align: center;
 padding: 40px 0;
 text-transform: uppercase;
 color: #848EA1;
 font-size: 12px;
 cursor: pointer;
}